<div layout="column" >
  <div layout="row" >
    <p class="text-med text-center"> Game Over! </p>
  </div>
  <div layout="row" >
    <p class="text-med text-center"> Final Scores: </p>
  </div>
  <div layout="column" layout-align="center center" style="min-height:400px;">
    <md-card ng-repeat="teamScore in teamScoreData" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch style="width:400px;margin:0px;margin-top:0px;">
    <div layout="row">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Team: {{ teamScore.name }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Current Points: {{ teamScore.score }}</span>
        </md-card-title-text>
      </md-card-title>
     </div>
    </md-card>
  </div>
  <div layout="row" layout-align="center center">
    <md-button ng-click="finishedGame()" class="md-primary md-raised">Finished!</md-button>
  </div>
</div>
