<md-content layout="row">
  <div flex=40> Choose a Game
  <md-list>
    <md-subheader class="md-no-sticky">Choose a game to join</md-subheader>
    <md-list-item ng-repeat="game in games" ng-click="" class="">
      <img alt="" ng-src="" class="" />
      <p>{{ game.name }}</p>
      <md-button class="btn-raised" > Join</md-button>
    </md-list-item>
  </md-list>
</div>

  <div flex>Create a Game
    <md-list>
      <md-list-item>
      number of teams <input id="numberofTeam" type = "number" ng-model ="teamData.teamNumber">

    </md-list-item>

      <md-list-item ng-repeat= "team in teamData.team" ng-click="" class="">
          <input placeholder= {{team}} name>
      </md-list-item>

      <md-button class = "md-fab" aria-label="Create">


        <i class="material-icons">add</i>

      </md-button>



    </md-list>
  </div>

</md-content>
