<md-content layout="row" layout-xs="column">
  <div flex class="text" layout-margin>
    <div class="text-med"> Choose a Game </div>
    <div class="md-accordion" ng-repeat="game in gameServiceData.games">
      <md-toolbar ng-init="game.expanded = false" ng-click="collapseAll(game)">
        <div class="md-toolbar-tools">
          <div class="text-medsmall"> {{ game.name }} </div>
          <span flex=""></span>
          <span ng-class="{expandCollapse:true, active:game.expanded}"></span>
        </div>
      </md-toolbar>
      <div ng-class="{dataContent:true, activeContent:game.expanded}">
        <md-content layout="row" ng-repeat="team in game.teams">
          <div flex="50" class="text-medsmall">
            <div layout="row" layout-align="start" class="text-medsmall">
              {{ team }}
            </div>
          </div>
          <div flex>
            <div layout="row" layout-align="end">
              <md-button style="width: 70px;" class="md-secondary md-raised" ng-click="joinButton()">Join</md-button>
            </div>
          </div>
        </md-content>
      </div>
    </div>
  </div>
  <div flex layout-margin>
  <form name="createGameForm" novalidate ng-submit="createGameForm.$valid && gameStateValid()">
    <!-- TODO: frontend form validation! -->
    <div class="text-med">Create a Game</div>
    <md-input-container class="md-block" flex-gt-sm>
      <label>Game Name</label>
      <input ng-model="gameData.name">
    </md-input-container>


    <md-input-container class="md-block" flex-gt-sm>
      Number of Teams <input id="gameData.teamNumber" type = "number" ng-model ="gameData.teamNumber" ng-change="forceBack(gameData,'teamNumber',5,1)" ng-model-options='{debounce:1000}'>
    </md-input-container>
    <md-list>
      <md-list-item>

      <md-input-container ng-repeat= "team in gameData.teamData" ng-click="" class="">
        <input placeholder="{{ team.prettyName }}" name="{{ team.prettyName }}" ng-model="team.name" ng-change="formFieldChanged()" ng-model-options='{ debounce: 1000 }'>
      </md-input-container>
    </md-list>

  <md-input-container class="md-block" flex-gt-sm>
    Max Players/Team <input id="gameData.maxNumberOfPlayers" type = "number" ng-change="forceBack(gameData,'maxNumberOfPlayers',6,2);formFieldChanged()" ng-model-options='{debounce:1000}'  ng-model ="gameData.maxNumberOfPlayers">
  </md-input-container>


  <!-- <md-input-container class="md-block" flex-gt-sm>
    Turn Duration <input id="gameData.roundDuration" type = "number" ng-change="formFieldChanged()" ng-model ="gameData.turnDuration">
  </md-input-container> -->

  <md-input-container class="md-block" flex-gt-sm> Turn Duration
  <md-select  placeholder="Turn Duration" ng-change="getData();formFieldChanged()" ng-model="gameData.turnDuration">
    <md-option ng-value="opt" ng-repeat="opt in gameData.turnDurationOptions">{{ opt }}</md-option>
  </md-select>
</md-input-container>



    <md-input-container class="md-block" flex-gt-sm>
      Turn Modifiers:
      <md-checkbox ng-model="gameData.turnModifiers" aria-label="With Turn Modifiers"></md-checkbox>
    </md-input-container>

    <md-button type="submit" ng-disabled="!gameServiceData.showGameStartButton" ng-click="initiateGameButton()" class = "md-fab" aria-label="Create">
      <i class="material-icons">add</i>
    </md-button>
  </form>
</div>
</md-content>
