<md-container>
  <md-content>
    <div layout-margin layout="row" layout-align="center center">
      <div class="text-med">You are a guesser!</div>
    </div>
    <div layout="row" layout-align="center" >
      <div >
        <countdown> </countdown>
      </div>
    </div>
  </md-content>
  <md-content >
    <div layout="row" layout-align="center">
      <div layout="column">
        <div layout-padding>Team On Deck: {{ turn.team.name }}</div>
        <div layout-padding>Teller: {{ turn.roles.teller.nickname }}</div>
        <div layout-padding>Moderator: {{ turn.roles.moderator.nickname }}</div>
        <div layout-padding>Turn Modifier: {{ turn.modifier.name || "Waiting for teller to roll." }} </div>
      </div>
    </div>
  </md-content>
</md-contaier>
