<div  ng-cloak flex style="height:100%">
  <div layout="column">
    <md-toolbar class="md-hue-1">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="toggleLeftDrawer()">
          <i class="material-icons md-light">menu</i>
        </md-button>
        <h2 flex md-truncate>Configure</h2>
      </div>
    </md-toolbar>
  </div>
  <section>
    <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      md-whiteframe="4">
      <!-- <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Configure</h1>
      </md-toolbar> -->
      <md-content layout-padding ng-controller="drawerLeftController" >
        <!-- <md-button ng-click="close()" class="md-primary" hide-gt-md> Close Sidenav Left </md-button> -->
        <div>
          <div ui-view="appmenu"></div>
        </div>
      </md-content>
    </md-sidenav>
  </section>
  <md-content flex layout-padding>
    <div flex ui-view="appscreen"></div>
  </md-content>
</div>
