<md-container>
  <md-content>
    <div layout="row" layout-align="center" >
      <div >
        <countdown > </countdown>
        <div  layout="row" layout-align="center"><md-button  ng-click="pauseClicked()" class="" ng-show="!showPlay" ><md-icon class="material-icons">pause</md-icon></md-button><md-button ng-click="playClicked()" class="" ng-show="showPlay"><md-icon class="material-icons">play_arrow</md-icon></md-buttton></div>
      </div>
    </div>
  </md-content>
  <div layout="row" layout-align="center center">
    <md-card id="cardAnimated" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch style="width: 400px">
         <md-card-title>
           <md-card-title-text>
             <span class="md-headline"> {{ card.buzzword }} </span>
             <span ng-repeat="forbiddenword in card.forbiddenwords" class="md-subhead">{{ forbiddenword }}</span>
           </md-card-title-text>
         </md-card-title>
       <md-card-actions layout="row" layout-align="end center">
           <md-button ng-click="skipCard()" class="md-primary">Skip Card</md-button>
       </md-card-actions>
    </md-card>
  </div>
</md-container>
