<form name="loginPlayerForm" novalidate ng-submit="loginPlayerForm.$valid" style="width: 400px;">
<div role="dialog" aria-label="Register Dialog" class="registerDialog md-whiteframe-1dp"  layout="column" layout-align="center center">
  <div layout="row" layout-margin class="demo-dialog-button"></div>
  <div layout="row" layout-padding>
      <div class="text-med">Register to play:</div>
  </div>
  <div layout="row">
    <md-input-container>
      <label>Email</label>
      <input id = "email" name = "email" type="text" ng-required ="true" ng-pattern="/(.+)@(.+){2,}\.(.+){2,}/" ng-minlenth="1" ng-model="ctrl.user.email">
    </md-input-container>
  </div>
  <div layout="row">
    <md-input-container>
      <label>Desired Player Name</label>
      <input name="playername" type="text" ng-model="ctrl.user.name" ng-required= "true">
    </md-input-container>
  </div>
  <div layout="row" layout-margin class="demo-dialog-button">
    <md-button layout-padding layout-margin name="submit" type="submit" class="md-primary md-raised" ng-disabled=" !loginPlayerForm.email.$valid || !loginPlayerForm.$valid" ng-click="ctrl.closeDialog()" md-autofocus flex class="md-primary md-button md-raised" ng-click="ctrl.closeDialog()">
      Submit
    </md-button>
  </div>
  <div layout="row" layout-margin class="demo-dialog-button"></div>
</div>
</form>
