<form name="loginPlayerForm" novalidate ng-submit="loginPlayerForm.$valid">
<div role="dialog" aria-label="Register Dialog" class="registerDialog md-whiteframe-1dp"  layout="column" layout-align="center center">
  <div layout="row" layout-padding>
      <h3>Hello, please provide some details to play!</h3>
  </div>
  <div layout="row">
    <md-input-container>
      <label>Email</label>
      <input id = "email" name = "email" type="text" ng-required ="true" ng-pattern="/(.+)@(.+){2,}\.(.+){2,}/" ng-minlenth="1" ng-model="ctrl.user.email">
    </md-input-container>
  </div>
  <div layout="row">
    <md-input-container>
      <label>Desired Player Name</label>
      <input name="playername" type="text" ng-model="ctrl.user.name" ng-required= "true">
    </md-input-container>
  </div>
  <div layout="row" class="demo-dialog-button">
    <md-button name="submit" type="submit" ng-disabled=" !loginPlayerForm.email.$valid || !loginPlayerForm.$valid" ng-click="ctrl.closeDialog()" md-autofocus flex class="md-primary md-button md-raised" ng-click="ctrl.closeDialog()">
      Submit
    </md-button>
  </div>
</div>
</form>
