<md-container>
  <md-content>
  <div layout-margin layout="row" layout-align="center center">
    <div class="text-med">You are the Teller!</div>
  </div>
  <div layout-margin layout="row" layout-align="center center">
  </div>
  <div layout="row" layout-align="center" >
    <div >
      <winwheel></winwheel>
    </div>
  </div>
  <div layout-margin layout-padding layout="row" layout-align="center" >
    <md-button ng-show="rollButton" class="md-primary md-raised text-medsmall" ng-click="rollButton=!rollButton;spinWheel()">Roll Wheel</md-button>
    <md-button ng-show="!rollButton" ng-disabled="disabledStart" class="md-primary md-raised text-medsmall" ng-click="currentGameService.startTurn()">Start Turn</md-button>
  </div>
  </md-content>
  <div layout-margin layout="row" layout-align="center center">
    <div class="text-med"> {{ turn.modifier.description }}</div>
  </div>
</md-container>
