<md-container>
  <md-content>
    <div layout-margin layout="row" layout-align="center center">
      <div class="text-med">You are the Teller!</div>
    </div>
    <div layout="row" layout-align="center" >
      <div >
        <countdown></countdown>
        <div  layout="row" layout-align="center">
          <md-button  layout-padding ng-click="pauseClicked()"  ng-show="!showPlay" >
            <md-icon ng-style="{'font-size': it.size + 'px', height: it.size + 'px',width:it.size+'px'}">pause</md-icon>
          </md-button>
          <md-button ng-click="playClicked()"  layout-padding ng-show="showPlay" >
            <md-icon ng-style="{'font-size': it.size + 'px', height: it.size + 'px',width:it.size+'px'}">play_arrow</md-icon>
          </md-buttton></div>
      </div>
    </div>
  </md-content>
  <div layout="row" layout-align="center center">
    <buzzcards role="teller"> </buzzcards>
  </div>
</md-container>
