<div layout="column" >
  <div layout="row" >
    <p class="text-med text-center"> Waiting for new turn. </p>
  </div>
  <div  layout="row" class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <div layout="row" >
    <p class="text-med text-center"> Current Scores: </p>
  </div>
  <div layout="column" layout-align="center center" style="min-height:400px;">
    <md-card ng-repeat="(key,teamScoreData) in teamScoreData" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch style="width:400px;margin:0px;margin-top:0px;">
    <div layout="row">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Team: {{ teamScoreData.name }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Current Points: {{ teamScoreData.score }} / {{ teamScoreData.out_of }}</span>
        </md-card-title-text>
      </md-card-title>
     </div>
    </md-card>
  </div>
</div>
